# Ignore user project Prisma schema
prisma/
# Node
node_modules/
.pnpm-debug.log

# Build
dist/
# Misc
coverage/
.pnp/
# generated modules from the generator
src/modules/

# Editor
.DS_Store
.vscode/
.idea/

# Misc
coverage/
.pnp/
modules/

# OS
Thumbs.db

# Next/.turbo/etc
.next/
.turbo/
.output/

